<header>
  <a href="/"><h2>Anchor Dash</h2></a>
  <a href="/profile/edit"><h2>Edit Profile</h2></a>
  <a href="/profiles"><h2>View Your Profile</h2></a>
  <a href="/logout"><h2>Logout</h2></a>

    <table style="float:right; margin-top:-150px;">
      <thead>
        <th>
          <% if session["access_token"] %>
            <a href="@profile"><p>profile.&nbsp;//</p></a>
        </th>
          <% end %>
      </thead>
    </table>
</header>

<div class="widget-wrapper">
  <div class="congress widget">
    <% if @user["senate_bills"] %>
      <div id="one" class="senate sub-widget">
            Senate Bills<br>
        Bill Description:
        <%= @times_senate["results"]["votes"][0]["description"]%>
        <br><br>
        Democratic Vote<br>
        Yes: <%= @times_senate["results"]["votes"][0]["democratic"]["yes"]%>
        No: <%= @times_senate["results"]["votes"][0]["democratic"]["no"]%>
        <br><br>
        Republican Vote<br>
        Yes: <%= @times_senate["results"]["votes"][0]["republican"]["yes"]%>
        No: <%= @times_senate["results"]["votes"][0]["republican"]["no"]%>
        <br><br>
        Result:
        <%= @times_senate["results"]["votes"][0]["result"]%>
        <br><br><br>
      </div>
    <% end %>

    <% if @user["house_bills"] %>
      <div id="two" class="house sub-widget">
        House Bills<br>
        Bill Description:
        <%= @times_house["results"]["votes"][0]["description"]%>
        <br><br>
        Democratic Vote<br>
        Yes: <%= @times_house["results"]["votes"][0]["democratic"]["yes"]%>
        No: <%= @times_house["results"]["votes"][0]["democratic"]["no"]%>
        <br><br>
        Republican Vote<br>
        Yes: <%= @times_house["results"]["votes"][0]["republican"]["yes"]%>
        No: <%= @times_house["results"]["votes"][0]["republican"]["no"]%>
        <br><br>
        Result:
        <%= @times_house["results"]["votes"][0]["result"]%>
      </div>
    <% end %>
  </div>

    <% if @user["weather"] %>
      <div id="three" class="weather widget">
        <% forecast = @wunderground_response["forecast"]["txt_forecast"]["forecastday"].first(12) %>
        <ul>

                 Five Day Forecast<br><br>

          <%=forecast[0]["title"]%>:
          <%=forecast[0]["fcttext"]%>
        <br><br><br>

          <%=forecast[2]["title"]%>:
          <%=forecast[2]["fcttext"]%>
        <br><br><br>
          <%=forecast[4]["title"]%>:
          <%=forecast[4]["fcttext"]%>
        <br><br><br>
          <%=forecast[6]["title"]%>:
          <%=forecast[6]["fcttext"]%>
        <br><br><br>
          <%=forecast[8]["title"]%>:
          <%=forecast[8]["fcttext"]%>

        </ul>
      </div>
    <% end %>



    <% if @user["top_stocks"] %>
      <div id="four" class="stocks widget">

        S&P: <%=@data[6].last_trade_price%> <%=@data[6].change%>
        <br><br>
        Nasdaq: <%=@data[7].last_trade_price%> <%=@data[7].change%>
        <br><br>
        Google: <%=@data[0].last_trade_price%> <%=@data[0].change%>
        <br><br>
        Apple: <%=@data[1].last_trade_price%> <%=@data[1].change%>
        <br><br>
        Microsoft: <%=@data[4].last_trade_price%> <%=@data[4].change%>
        <br><br>
        Yahoo: <%=@data[5].last_trade_price%> <%=@data[5].change%>
        <br><br>
        Ford: <%=@data[2].last_trade_price%> <%=@data[2].change%>
        <br><br>
        Bank of America: <%=@data[3].last_trade_price%> <%=@data[3].change%>
        <br><br>
        EBAY: <%=@data[3].last_trade_price%> <%=@data[3].change%>
        <br><br>
        SIRUS XM: <%=@data[3].last_trade_price%> <%=@data[3].change%>
        <br><br>
        Twitter: <%=@data[3].last_trade_price%> <%=@data[3].change%>

      </div>
    <% end %>


    <% if @user["twitter"] %>
      <div id="five">
        <% @tweets.each do |tweet|%>
        <%= tweet %>
        <% end %>
      </div>
    <% end %>
</div>


