<section id = "dash">

    <% if @user_one["senate_bills"] %>
    <div id="one">
          Senate Bills<br>
      Bill Description:
      <%= @times_senate["results"]["votes"][0]["description"]%>
      <br><br>
      Democratic Vote<br>
      Yes: <%= @times_senate["results"]["votes"][0]["democratic"]["yes"]%>
      No: <%= @times_senate["results"]["votes"][0]["democratic"]["no"]%>
      <br><br>
      Republican Vote<br>
      Yes: <%= @times_senate["results"]["votes"][0]["republican"]["yes"]%>
      No: <%= @times_senate["results"]["votes"][0]["republican"]["no"]%>
      <br><br>
      Result:
      <%= @times_senate["results"]["votes"][0]["result"]%>
      <br><br><br>
    </div>
    <% end %>



    <% if @user_one["weather"] %>
    <div id="two">
      House Bills<br>
      Bill Description:
      <%= @times_house["results"]["votes"][0]["description"]%>
      <br><br>
      Democratic Vote<br>
      Yes: <%= @times_house["results"]["votes"][0]["democratic"]["yes"]%>
      No: <%= @times_house["results"]["votes"][0]["democratic"]["no"]%>
      <br><br>
      Republican Vote<br>
      Yes: <%= @times_house["results"]["votes"][0]["republican"]["yes"]%>
      No: <%= @times_house["results"]["votes"][0]["republican"]["no"]%>
      <br><br>
      Result:
      <%= @times_house["results"]["votes"][0]["result"]%>
    </div>
</ul>
<% end %>

      <% if @user_one["weather"] %>
      <div id="three">
      <% forecast = @wunderground_response["forecast"]["txt_forecast"]["forecastday"].first(12) %>
      <ul>

          <%=forecast[0]["title"]%>:
          <%=forecast[0]["fcttext"]%>
        <br>

          <%=forecast[2]["title"]%>:
          <%=forecast[2]["fcttext"]%>
        <br>
          <%=forecast[4]["title"]%>:
          <%=forecast[4]["fcttext"]%>
        <br>
          <%=forecast[6]["title"]%>:
          <%=forecast[6]["fcttext"]%>
        <br>
          <%=forecast[8]["title"]%>:
          <%=forecast[8]["fcttext"]%>
        </div>

      </ul>
      <% end %>


      <br><br>
    <% if @user_one["top_stocks"] %>
    <div id="four">
      Google: <%=@data[0].ask%> <%=@data[0].change%>
      <br>
      Apple: <%=@data[1].ask%> <%=@data[1].change%>
      <br>
      Ford: <%=@data[2].ask%> <%=@data[2].change%>
    </div>
    <% end %>

      <br><br>
    <% if @user_one["twitter"] %>
  <div id="five">
      <% @tweets.each do |tweet|%>
      <%= tweet %>
      <% end %>
    </div>
    <% end %>
</section>


