<h2> <%= @profiles[@index][:username] %> </h2>
<img src="<%= @profiles[@index][:user_img] %>">

<ul>
  <li>
    <p>
                user email:     <%= @profiles[@index][:user_email] %>
                <br/>
                user city:      <%= @profiles[@index][:user_city] %>
                <br/>
                user state:     <%= @profiles[@index][:user_state] %>
                <br/>
                House Bills?           <%= @profiles[@index][:house_bills] %>
                <br/>
                Senate Bills?        <%= @profiles[@index][:senate_bills] %>
                <br/>
                Twitter?      <%= @profiles[@index][:twitter] %>
                <br/>
                Five Day Forecast?         <%= @profiles[@index][:weather] %>
                <br>
                Top Stocks?      <%= @profiles[@index][:top_stocks] %>
                <br/>
    </p>
  </li>
</ul>

<button><a href="/profile/edit"> edit profile.</a></button>
