<div id="logincontainer">
<h1>Edit Your Company</h1>
<%= form_for @story do |f| %>
<p>What's a nickname for this story?</p>
<%= f.text_field :nickname %>
</br>
<p>Business name</p>
<%= f.text_field :business_name %>
</br>
<p>Logo URL</p>
<%= f.text_field :logo_url %>
</br>
<p>Business location</p>
<%= f.text_field :business_location %>
</br>
<p>Business Description</p>
<%= f.text_field :business_description %>
</br>
<p>Industry</p>
<%= f.text_field :industry %>
</br>
<p>Founders</p>
<%= f.text_field :founders %>
</br>
<p>Size</p>
<%= f.text_field :size %>
</br>
<p>Year Founded</p>
<%= f.text_field :year_founded %>
</br><br>
<%= f.submit "submit" %>
<% end %>
</div>
